body {
    text-align: center;
    margin: 0;
    width: 1000px;
    height: 800px;
    background-color: white;
}

canvas {
    
    border: solid 2px black;
    background-color: white;
}

ul {
    text-align: start;
}

.menu-ui {
    border: solid black;
}

.menu-top {
    background-color: gray;
    border: solid black
}

.menu-main {
    border: solid black;
}

.menu-top p {
    font-size: 30px;
}