body {
    text-align: center;
    margin: 0;
    width: 1000px;
    height: 800px;
    background-color: white;
}
canvas {
    
    border: solid 2px black;
    background-color: white;
}

ul {
    text-align: start;
}